@{
    ViewBag.Title = "CrearCuentas";
}

<h2>CrearCuentas</h2>

<h3>@ViewBag.ProcesoMensaje</h3>

@using (Html.BeginForm())
{
    <p>
       <input type="submit" value="Procesar" id="procesar" />
    </p>    
}