@model ZOE.OS.Modelo.EventoAsistente

@{
    ViewBag.Title = "Registro";
}

<h2>Gracias por registrarse al Taller Cumplimiento IVA IEPS, para las Certificaciones A, AA, AAA y NEEC L III</h2>
<p>
</p>
<h3>Se a enviado un correo a la cuenta @Html.DisplayFor(m=>Model.Email) con las instrucciones de acceso al taller </h3>
