<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://so.zoeitcustoms.com:80/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://WEBB38.webcontrolcenter.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>so Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>sozoeitcustoms</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OSContext" Order="1" Enabled="True">
          <Destination Path="Data Source=sqlb31.webcontrolcenter.com;Initial Catalog=ZOEOS;User ID=zoeitcustoms;Password=zoe2013$" Name="Data Source=sqlb31.webcontrolcenter.com;Initial Catalog=ZOEOS;uid=zoeitcustoms;pwd=zoe2013$;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ZOE.OS.Modelo.OSContext, OS.Modelo" MigrationConfiguration="ZOE.OS.Modelo.Migrations.Configuration, OS.Modelo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OSContext-Web.config Connection String">
      <ParameterValue>Data Source=sqlb31.webcontrolcenter.com;Initial Catalog=ZOEOS;uid=zoeitcustoms;pwd=zoe2013$;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>