@using Infragistics.Web.Mvc;
                    
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<p>
    <a>Para iniciar a crear una orden de servicio por favor seleccione la opcion "Iniciar sesion" e introduzca su usuario y contraseña</a>.
</p>

 